#COMPARTIENDOLOS ENLACES
Options +FollowSymLinks

#LE DECIMOS QUE VAMOS A REESCRIBIR LA URL y ACTIVADO
RewriteEngine On

#EJECUTAMOS LA FUNCION QUE VA REDIRGIR A UNA URL ESPECIFICA
#RewriteRule ExpresionRegular UrlDestino [banderas]
#EXPRESION REGULAR ESTRUCTURA
# ^ = SIGNIFICA EL COMIENZO, ([INTERVALO DE CARACTERES ACEPTADOS]), * = SERA UNA COMBINACION DE TODOS ELLOS, $ = CERRAMOS LA EXPRESION REGULAR

#RECIBIMOS POR EL METODO GET(URL) UNA RESPUESTA Y CREAMOS UN VARAIBLE Y SERA IGUAL A 1
RewriteRule ^([a-zA-Z0-9]*)$ datos.php?moneda=$1
